<!DOCTYPE html>
<html lang="en">

<head>
  <title>Products Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/styles/listing.css" type="text/css" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="   crossorigin="anonymous">
</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <h1>Products for Sale</h1>
  <ul>
    <% products.forEach(function(product) { %>
      <li>
        <h2><%= product.name %></h2>
        <p>Price: $<%= product.price %></p>
        <p>Type: <%= product.type %></p>
        <p>Description: <%= product.description %></p>
        <p>Contact: <%= product.contact %></p>
        <img src="<%= product.image %>" alt="<%= product.name %>">
        </form>
      </li>
    <% }); %>
  </ul>
</body>
</html>
